h2 doge says:
  input(type='text', id='dogesay')

div
  select(id='dogepic')
    option Big Doge
    option(value='dogeface') Doge Face
    option(value='dogecoin') Doge Coin

input(type='button' value='wow' id='dogemit')

script(src='/js/doge.js')
